* {
  padding: 0;
  margin: 0;
  transition: all .2s;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}